#job-list
	margin-bottom: 20px
	& li
		border-bottom: item-border
		padding: 0 0 10px 0
		margin: 19px 0 0 10px
		& h2
			font-family: supermarketregular
		& .job-logo
			width: 113px
			height: 66px
			border: item-border
			overflow: hidden
			margin-right: 10px
			& img
				width: 115px
				top: -1px
				left: -1px
				position: relative
		& .job-list-right
			text-align: right

#job-container

	&-detail
		font-family:tahoma
		font-size:13px
	&-logo
		width: 113px
		height: 66px
		border: item-border
		overflow: hidden
		margin-right: 20px
		& img
			width: 115px
			top: -1px
			left: -1px
			position: relative
	& h1, & h2
		font-family: supermarketregular
		line-height: 1.2em
	& .btn-apply
		background: #2DCC6F

		&:hover
			background: #28B161
	&-table
		font-size: 16px
		color: #999
		margin: 20px 0
		tr
			.table-detail
				font-weight:bold
				color:#333333
			td
				vertical-align: top
				&:first-child
					width: 125px
		&-benefits
			.fa
				font-size: 14px
				width: 15px
				margin-right: 5px
				text-align: right
			li
				float: left
				width: 175px

.job-title
	font-size: 18px
	font-family: supermarketregular
	text-transform: none
	max-width: 400px
.company-name
	font-size: 16px
	overflow: hidden
	font-family: supermarketregular
	color: #999
	text-transform: none
.company-location
	font-size: 16px
	color: #999
	text-align: right
	line-height: normal
.job-posted
	font-size: 16px
	color: #B02417
	text-align: right
	line-height: normal

.sidebar-job
	margin-bottom: 20px
	& li
		margin-right: 10px
		margin-top: 10px
		padding-bottom: 10px
		border-bottom: item-border
.sidebar-job-title, .sidebar-job-salary
	font-size: 18px
	a:hover
		text-decoration: underline

.sidebar-job-company, .sidebar-job-location
	font-size: 16px
	color: #999

.sidebar-job-posted
	font-size: 16px
	color: #b02417